body {
	background-color: #cccccc;
	color: #B22234;
	font-family: sans-serif;
	width: 70%;
	margin: auto;
}

header {
	background-color: black;
}

blue {
	color: #3C3B6E;
}

header img {
	border-radius: 50%;
	margin: 30px 40px;
	vertical-align: middle;
}

header img:hover {
	opacity: 0.8;
}

div {
	display: inline-block;
	vertical-align: middle;
}

h1 {
	font-size: 3em;
	margin-left: 30px;
	text-transform: uppercase;
}

h2 {
	font-size: 2em;
	margin-left: 280px;
	color: white;
	text-transform: uppercase;
}

nav {
	background-color: black;
}

ul {
	list-style-type: none;
}

li {
	color: #3C3B6E;
	display: inline-block;
	font-size: 2em;
	font-weight: bolder;
	margin: 20px 12%;
}

li:hover {
	color: #B22234;
}

li.selected {
	color: white;
}

ul a {
	text-decoration: none;
}

main {
	text-align: justify;
	font-size: 1.5em;
	color: black;
}

footer {
	text-align: center;
	color: black;
}

main img {
	width: 30%;
	margin: 10px 1.5%;
	border-radius: 10px;
}

main img:hover {
	opacity: 0.8;
}